<!doctype html>
<html dir="ltr" lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Rapport</title>
  </head>
  <body>
    <table>
      <tr>
        <td><h2>Nom</h2></td>
        <td><h2>Genre</h2></td>
      </tr>
      <tr>
        <td>AFX</td>
        <td><i>Electronica</i></td>
      </tr>
      
      <tr><td>Squarepusher</td><td><i>Drill and Bass</i></td></tr>
      <tr><td>Plaid</td><td><i>IDM</i></td></tr>
      <tr><td>Faith No More</td><td><i>Alt Metal</i></td></tr>
      <tr><td>Thundercat</td><td><i>Afrofuturism</i></td></tr>  
    </table>
    <br>
    <a href="https://en.wikipedia.org/wiki/List_of_popular_music_genres">Plus d'informations sur les genres</a>
  </body>
</html>
